/* Global Config */

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --heading: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: #000;
}

/* Global Styles */

a {
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
}

/* can style size of fa icons here */
.fas{
    font-size: 2rem;
    cursor: pointer;
}



/* Navigation */


    /* Main Nav */

#main-header {
    background: #0f0f0f;
    color: #fff;
    width: 100%; /* set this to 100% to prevent x-overflow */

    padding: 15px 12px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav .brand h1 {
    font-family: var(--heading);
}


    /* Nav Links */

#main-nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-nav-links ul li {
    padding: 10px 0;
}

#main-nav-links ul li a {
    padding: 3px 0;
    font-size: 1.1rem;
    font-weight: 700;
}

#main-nav-links ul li a:hover {
    color: #d7d7d7;
    border-bottom: 2px solid #d7d7d7;
     
}

/* Javascript-related Styles */

.hamburger-btn ,.times-btn {
    cursor: pointer;
}

.times-btn {
    display: none;
}

#main-nav-links .nav-links {
    background: #333;

    height: 0;
    overflow: hidden;

    margin: 20px -12px -20px;
}

#main-nav-links .nav-links.nav-show {
    height: auto;
}


/* Top Content */

    /* Headlines */
#top-content {
    display: grid;
    grid-template: 1fr;

    margin: 30px 20px;
    margin-top: 60px;
}

#top-content .top-content-left .header h2 {
    text-transform: uppercase;
    font-size: 3rem;
    padding: 7px 10px;
    margin-bottom: 20px;
}

#top-content .top-content-left .header h3 {
    padding: 7px 10px;
    margin-bottom: 10px;
}

#top-content .top-content-left .header button {
    margin: 7px 12px;
    
    border: none;
    background: #0f0f0f;;
    padding: 12px 15px;
}

#top-content .top-content-left .header button a {
    font-size: 1.3rem;
    text-align: center;
}

#top-content .top-content-left .header button:hover {
    background: rgba(0, 0, 0, 0.85);
}

#top-content .top-content-left .headlines {
    padding: 7px 10px;
}


#top-content .top-content-left .headlines a {
    display: inline-block;
    padding: 15px 10px;
    margin-bottom: 5px;

    color: #0f0f0f;
    font-size: 1.2rem;
}


#top-content .top-content-left .headlines a h3:hover {
    color: #7ac64d
}

#top-content .top-content-left .headlines a h3:hover::before {
    content: ">> "
}

#top-content .top-content-left .headlines a span {
    display: block;
    text-transform: uppercase;

    font-family: var(--heading);
    font-size: 1.2rem;
    color: #c9c9c9;
    font-weight: 500;
}

    /* Hot Topics */

.hot-topic {
    width: 100%;
    height: 350px; /* add this to align with img height */
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.hot-topic img {
    width: 100%; 
    height: 350px;
    object-position: center center;
    object-fit: cover;
}

.hot-topic img:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: transform 0.5s, opacity 0.5s;
}

.hot-topic .hot-topic-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    line-height: 1.2;
    padding: 12px 15px;

    background: rgba(51, 51, 51, 0.6);
}

.hot-topic .hot-topic-content h2 {       
    color: #f9f9f9;
    font-size: 2rem;

    margin-bottom: 10px;
}

.hot-topic .hot-topic-content p {
    font-family: var(--heading);
    color: #c9c9c9;
    font-size: 1.2rem;
    font-weight: 400;

    margin-bottom: 10px;
}

.hot-topic .hot-topic-content a {
    display: inline-block;

    text-align: center;
    font-weight: 600;
    width: 120px;
    background: #fff;
    color: #0e0f0f;

    padding: 12px 15px;
    margin-top: 10px;
}

.hot-topic .hot-topic-content a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}

/* Bottom Content */

#bottom-content {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;

    width: 100%;
    margin: 30px 0;
    padding: 12px 35px;
}

#bottom-content h2 {
    font-size: 2rem;
} 

/* Bottom Content Left */

#bottom-content .bottom-content-left {
    margin: 20px 0;
}

#bottom-content .bottom-content-left article {
    margin: 30px 0;
}

#bottom-content img {
    width: 100%;
    height: 350px;
    object-position: center center;
    object-fit: cover;
}


#bottom-content .bottom-content-left h3 {
    padding: 12px 0;
}

#bottom-content .bottom-content-left p {
    font-size: var(--heading);
    font-weight: 300;
}

#bottom-content .bottom-content-left a {
    display: inline-block;
    padding: 15px 0;
    color: #0f0f0f;
}

#bottom-content .bottom-content-left a:hover {
    color: #7ac64d;
}

#bottom-content .bottom-content-left a:hover span {
    padding-left: 5px;
}

    /* Bottom Content Right */

#bottom-content .bottom-content-right {
    margin: 20px 0;
}

#bottom-content .bottom-content-right article {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    padding: 12px 15px;
    margin: 20px 0;
    border-bottom: 1px solid #7ac64d;
}

#bottom-content .bottom-content-right article:first-child {
    margin-top: 30px;
}

#bottom-content .bottom-content-right article:last-child{
    border-bottom: none;
}

#bottom-content .bottom-content-right h4 {
    padding: 7px 10px;
}

#bottom-content .bottom-content-right .content h2 {
    font-size: 0.95rem;
    padding: 7px 10px;
}

#bottom-content .bottom-content-right .content p {
    font-family: var(--heading);
    font-size: 0.95rem;
    font-weight: 100;
    padding: 7px 10px;

}

#bottom-content .bottom-content-right .content a {
    display: inline-block;
    padding: 7px 10px;
    color: #0f0f0f;
}

#bottom-content .bottom-content-right .content a:hover {
    color: #7ac64d;
}

#bottom-content .bottom-content-right .content a:hover span {
    padding-left: 5px;
}

#bottom-content .bottom-content-right img {
    width: 75px;
    height: 75px;

    padding: 5px;
}

/* Footer */

#main-footer {
    background-color: #0e0f0f;
    color:#fff;
    padding: 30px;;
}

#main-footer .footer-left,
#main-footer .footer-right {
    padding: 12px 15px;
}

#main-footer h2 {
    font-size: 2rem;

    margin-bottom: 10px;
}

#main-footer p {
    font-family: var(--heading);
    font-weight: 100;
}

#main-footer .footer-right .email-field {
    width: 250px;
    margin-top: 10px;    
    border-bottom: 1px solid #c9c9c9;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-footer .footer-right .email-field input {
    width: 80%;
    background: transparent;
    font-size: 1.2rem;
    padding: 12px 0;
    border: none;
    color: #fff;
}

#main-footer .footer-right .email-field input:hover,
#main-footer .footer-right .email-field input:focus {
    outline: none;
}

#main-footer .footer-right .email-field .fas {   
    font-size: 1.8rem;
    cursor: default
}

#main-footer > p {
    margin-top: 30px;
    text-align: center;
}

/* Responsive Breakpoints */

@media only screen and (min-width: 768px) {

    /* Navigation */

    .fas.fa-bars, .fas.fa-times {
        display: none!important
    }

    #main-header .navigation-container {
        display: flex;
        align-items: center;
    }

    #main-nav-links .nav-links {          
        height: inherit;
        overflow: hidden;

        margin: 0 auto;
        margin-left: 30px;
    }

    #main-nav-links ul {
        display: flex;
        flex-direction: row;
        align-items: center;

        background: #0f0f0f;
    }

    #main-nav-links ul li {
        padding-left: 20px;   
        transition: all 1s ease-in-out
    }


    /* Top Content */
    #top-content .top-content-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }


    /* Bottom Content */
    #bottom-content .bottom-content-left .bottom-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    /* Footer */
    #main-footer .footer-container {
        display: flex;
    }

    #main-footer .footer-container .footer-left,
    #main-footer .footer-container .footer-right {
        flex: 1;
    }
}

@media only screen and (min-width: 800px) {

    /* Top Content */
    #top-content {
        grid-template-columns: 1fr 2fr;
    }

    /* Bottom Content */
    #bottom-content {
        grid-template-columns: repeat(2, 1fr);
    }
}